<html>
  <head>
    <title>Home</title>
  </head>

  <body>
    <p><a href="/instruments">Instruments</a></p>
    <p><a href="/categories">Categories</a></p>
    <p><a href="/brands">Brands</a></p>
  </body>
</html>
