<html>
  <head>
    <title>Edit</title>
  </head>

  <body>
    <h1>Edit Category</h1>

    <form action="/categories/<%= category.id%>" method="post">
      <label for="name">Name:</label>
      <input
        type="text"
        id="name"
        name="name"
        value="<%= category.name%>"
        required
      />
      <br /><br />

      <label for="description">Description: </label>
      <textarea name="description" id="description">
<%= category.description%>
     </textarea
      >
      <br /><br />

      <button type="submit">Submit</button>
    </form>

    <a href="/categories">Back</a>
  </body>
</html>
