<html>
  <head>
    <title>Form</title>
  </head>

  <body>
    <h1>Create a new category</h1>

    <form action="/categories" method="post">
      <label for="name">Name:</label>
      <input
        type="text"
        id="name"
        name="name"
        placeholder="Enter category name"
        required
      />
      <br /><br />

      <label for="description">Description: </label>
      <textarea name="description" id="description"></textarea>
      <br /><br />

      <button type="submit">Submit</button>
    </form>

    <a href="/categories">Back</a>
  </body>
</html>
