<html>
  <head>
    <title>Form</title>
  </head>

  <body>
    <h1>Create a new brand</h1>

    <form action="/brands" method="post">
      <label for="name">Name:</label>
      <input
        type="text"
        id="name"
        name="name"
        placeholder="Enter brand name"
        required
      />
      <br /><br />

      <label for="country">Country: </label>
      <input
        type="text"
        id="country"
        name="country"
        placeholder="Enter county"
      />
      <br /><br />

      <button type="submit">Submit</button>
    </form>

    <a href="/brands">Back</a>
  </body>
</html>
